.ButtonLink {
    border: 1px solid white;
    box-sizing: border-box;
    cursor: pointer;
    padding: 16px 24px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: opacity .3s;
    margin-left: 2%;
  }
  .ButtonLink:hover,
  .ButtonLink:focus {
    opacity: .5;
  }
